* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    overflow-x: hidden;
    background-color: #fff;
}
.section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../img/canonPT1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    
}
img {
    border: none;
}
.section:nth-of-type(2) {
    background-image: url("../img/canonPT2.jpg");
}
.section:nth-of-type(3) {
    background-image: url("../img/canonPT3.jpg");
}
.section:nth-of-type(4) {
    background-image: url("../img/canonPT4.jpg");
}
.section:nth-of-type(5) {
    background-image: url("../img/canonPT5.jpg");
}
.section:nth-of-type(6) {
    background-image: url("../img/canonPT6.jpg");
}
.section:nth-of-type(7) {
    background-image: url("../img/canonPT7.jpg");
}

#fp-nav {
    display: none;
}
@media (min-width: 100px) and (max-width: 500px) {
    .section {
        position: relative;
        width: 100%;
        height: 100vh;
        /* margin-top: -20vh; */
        background-image: url("../img/canonPT1v.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }
    .section:nth-of-type(2) {
        background-image: url("../img/canonPT2v.jpg");
    }
    .section:nth-of-type(3) {
        background-image: url("../img/canonPT3v.jpg");
    }
    .section:nth-of-type(4) {
        background-image: url("../img/canonPT4v.jpg");
    }
    .section:nth-of-type(5) {
        background-image: url("../img/canonPT5v.jpg");
    }
    .section:nth-of-type(6) {
        background-image: url("../img/canonPT6v.jpg");
    }
    .section:nth-of-type(7) {
        background-image: url("../img/canonPT7v.jpg");
    }

}