* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    overflow-x: hidden;
    background-color: #222;
}
.section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../img/commaPT1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.section:nth-of-type(2) {
    background-image: url("../img/commaPT2.jpg");
}
.section:nth-of-type(3) {
    background-image: url("../img/commaPT3.jpg");
}
.section:nth-of-type(4) {
    background-image: url("../img/commaPT4.jpg");
}
.section:nth-of-type(5) {
    background-image: url("../img/commaPT5.jpg");
}
.section:nth-of-type(6) {
    background-image: url("../img/commaPT6.jpg");
}
.section:nth-of-type(7) {
    background-image: url("../img/commaPT7.jpg");
}
.section:nth-of-type(8) {
    background-image: url("../img/commaPT8.jpg");
}
.section:nth-of-type(9) {
    background-image: url("../img/commaPT9.jpg");
}
.section:nth-of-type(10) {
    background-image: url("../img/commaPT10.jpg");
}
.section:nth-of-type(11) {
    background-image: url("../img/commaPT11.jpg");
}
#fp-nav {
    display: none;
}
@media (min-width: 100px) and (max-width: 500px) {
    .section {
        position: relative;
        width: 100%;
        height: 100vh;
        /* margin-top: -20vh; */
        background-image: url("../img/commaPT1v.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }
    .section:nth-of-type(2) {
        background-image: url("../img/commaPT2v.jpg");
    }
    .section:nth-of-type(3) {
        background-image: url("../img/commaPT3v.jpg");
    }
    .section:nth-of-type(4) {
        background-image: url("../img/commaPT4v.jpg");
    }
    .section:nth-of-type(5) {
        background-image: url("../img/commaPT5v.jpg");
    }
    .section:nth-of-type(6) {
        background-image: url("../img/commaPT6v.jpg");
    }
    .section:nth-of-type(7) {
        background-image: url("../img/commaPT7v.jpg");
    }
    .section:nth-of-type(8) {
        background-image: url("../img/commaPT8v.jpg");
    }
    .section:nth-of-type(9) {
        background-image: url("../img/commaPT9v.jpg");
    }
    .section:nth-of-type(10) {
        background-image: url("../img/commaPT10v.jpg");
    }
    .section:nth-of-type(11) {
        background-image: url("../img/commaPT11v.jpg");
    }
}